<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="base-path" content="{{basePath}}">
    <title>{{title}} - Sun Gym</title>
    <!-- Always load main.css first -->
    <link rel="stylesheet" href="{{basePath}}/css/main.css">
    {{#if customCSS}}
    <link rel="stylesheet" href="{{basePath}}/css/{{customCSS}}.css">
    {{/if}}
</head>
<body>
    {{{body}}}

    {{#if customJS}}
    <script src="{{basePath}}/js/{{customJS}}.js"></script>
    {{/if}}
</body>
</html>
