<h1>Welcome to Sun Gym Management System</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

<h2>Database query result:</h2>

{{!-- Create a table --}}
<table border="1">
    {{!-- Header section --}}
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Homeworld</th>
            <th>Age</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.fname}}</td>
            <td>{{this.lname}}</td>
            <td>{{this.homeworld}}</td>
            <td>{{this.age}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- If no data is found, display a message --}}
{{#unless data}}
<p>No data found in the database.</p>
{{/unless}}

{{!-- Form for adding new data --}}
<h2>Adding Data using an HTML form</h2>
<p>To add a new person, please enter their information below and click `Submit`!</p>
<form id="add-person-form" method="POST" action="/add-person-form">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">

    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-homeworld">Homeworld: </label>
    <input type="number" name="input-homeworld" id="input-homeworld">

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <input type="submit">
</form>