<table id="members-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.memberID}}>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.joinDate}}</td>
            <td>{{membershipType}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>